.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 0.4rem;

  .active {
    border-bottom: 1px solid red;
  }

  &__item {
    margin: 0.3rem 1rem 0.3rem 0;
    border-color: transparent;

    a {
      text-decoration: none;
    }
  }
}
