.hidden {
  display: none;
}

.footer {
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .filters {
    display: flex;
    flex-direction: row;
    list-style: none;

    li {
      margin: 0.1rem 1rem;

      .selected {
        min-width: 3rem;
        border-radius: 0.1rem;
        color: white;
        background-color: black;
      }

      a {
        text-decoration: none;
        padding: 0.4rem 0.4rem;
        border: 1px solid transparent;
        color: black;
        transition: all 0.3s linear;
      }
    }
  }
}
