.main {
  margin: 1rem 0;
  padding: 1rem 1rem 0 1rem;

  &__mark-all-checkbox {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }

  .todo-list {
    list-style: none;
  }
}

.hidden {
  display: none;
}
